$color-red: #e00000;
$color-black: #333333;
$color-blue: #0122f0;
$color-white: #ffffff;
$color-text: #000050;
$border-color: #08aeec;
$color-grey: #ececec;
$color-pink: #ff1a5c;
$color-pink-secondary: #ff44f3;
$color-light-gray: #f9f9f9;
$color-light-pink: #fef4f6;
$color-rate: #fec42d;
$color-footer: #1d1d1d;
